*{
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body{
	color: #2a2a2a;
}

.header{
	background-image: url("../img/mainvisual.jpg");
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	position: relative;
	margin-bottom: 8rem;
}

.header h1 img{
	position: absolute;
	top: 3rem;
	right: 3rem;
}



.header h1 img{
	justify-content: end;
}

.wrap{
	border: 1px solid tomato;
}