* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

h1 {
    color: #fff;
    font: italic bold 5rem/1.5 serif;
}

.transition {
    transition: color 2s ease 1s;
}

.transition:hover {
    color: skyblue;
}

.bg {
    background: url("../img/minjyu.webp") no-repeat center/cover;
}

.margin {
    margin: 20px 40px 60px 80px;
}

.animation {
    animation: blink-text 2s ease 1s infinite alternate both;
}

@keyframes blink-text {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.border {
    border-top: 20px solid #052a4e;
}

.list {
    color: #fff;
    list-style: square inside url("../img/boiled-egg.png");
}