html {
    font-size: 62.5%;
}

.wrap {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 1px solid tomato;
    /* padding-bottom: 170px; */
    background: linear-gradient(180deg, #7ED8FB 0%, #D5EFF5 100%);
    /* z-index: 0; */
}

.cloud {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 220px;
    background-image: url("../img/cloud.png");
    /* z-index: 1; */
    /* border: 1px solid tomato; */
}

.right {
    position: absolute;
    top: 50px;
    left: 800px;
    /* border: 3px solid greenyellow; */
}

.left {
    position: absolute;
    top: 100px;
    left: 300px;
}


section {
    display: flex;
    position: relative;
    width: 45%;
    margin: 0 auto;
    margin-top: 200px;


    .new {
        position: absolute;
        top: 0;
        left: 25px;
        width: auto;
        height: 140px;
        justify-content: center;

        img {
            width: 188px;
            height: 140px;
        }
    }

    div {
        position: relative;
        text-align: center;

        .ttl {
            font-family: "Itim";
            color: #fff;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: #000;
            font-size: 12.5rem;
            font-weight: bold;
            letter-spacing: -10px;
            text-shadow: 10px 10px 0 #000;
            line-height: 0.8;

            span {
                font-size: 14.1rem;
            }
        }

        p {
            font-family: "jsMath-cmbx10" serif;
            font-size: 3.6rem;
            font-weight: bold;
            line-height: 4;
        }
    }
}

.rock {
    background-image: url("../img/rock.png");
    width: 840px;
    height: 180px;
    background-position: top;
    margin: 0 auto;
    border: 1px solid tomato;
}

.ground {
    /* position: fixed;
    bottom: 0; */
    background-image: url("../img/ground.png");
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    height: 100px;
}