*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}


.top{
    background: linear-gradient(#00564f,#4FCBC1,#B8EBE6);
    height: 73rem;
}


.top>h1{
    font-size: 4rem;
    color: #fff;
    font-family: 'A P-OTF Antique AN4+ ProN',serif;
    padding: 2rem;
}



.top>h2{
    font-size: 6rem;
    color: #fff;
    font-family: 'A P-OTF Futo Go B101 Pr6N',serif;
    line-height: 7rem;
    margin: 4.5rem;
}



.top>p{
    font-size: 3.5rem;
    color: #fff;
    font-family: 'A P-OTF Futo Go B101 Pr6N',serif;
}

.main{
    background-color: #E2F5F3;
}

.explanation>h1{
    font-size: 2.8rem;
    text-align: center;
    padding: 7rem;
}

.explanation>button{
    text-align: center;
}



.features h1{
    font-size: 4.8rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    text-align: center;
    margin: 12rem auto;
}

.sense_wrap{
    display: flex;
    justify-content: space-evenly;
}

.sense_txt{
    text-align: left;
}

.sense_txt h2{
    font-size: 3.6rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    color: #0B7174;
    margin-bottom: 1rem;
}

.sense_txt img{
    width: 14rem;
    height: 14rem;
}

.sense{
    margin-right: 2.2rem;
}

.sharp{
    margin-left: 2.2rem;
}

.sense_txt p{
    font-size: 2rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    font-weight: lighter;
    margin-top: 1rem;
    line-height: 3.3rem;
}

.rigidity_wrap{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15rem;
}

.rigidity_txt{
    text-align: left;
}

.rigidity_txt h2{
    font-size: 3.6rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    color: #0B7174;
    margin-bottom: 1rem;
}

.rigidity_txt img{
    width: 14rem;
    height: 14rem;
}

.rigidity{
    margin-right: 2.2rem;
}

.fit{
    margin-left: 2.2rem;
}

.rigidity_txt p{
    font-size: 2rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    font-weight: lighter;
    margin-top: 1rem;
    line-height: 3.3rem;
}

.repulsion_wrap{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15rem;
}

.repulsion_txt{
    text-align: left;
}

.repulsion_txt h2{
    font-size: 3.6rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    color: #0B7174;
    margin-bottom: 1rem;
}

.repulsion_txt img{
    width: 14rem;
    height: 14rem;
}

.repulsion{
    margin-right: 2.2rem;
}

.feeling{
    margin-left: 2.2rem;
}

.repulsion_txt p{
    font-size: 2rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    font-weight: lighter;
    margin-top: 1rem;
    line-height: 3.3rem;
}

.interview_wrap>h1{
    font-size: 3.6rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    text-align: left;
    margin-left: 15rem;
}

.interview{
    display: flex;
    gap: 6.5rem;
    margin: 0 20rem;
}

.interview img{
    border-radius: 50%;
}

.interview p{
    font-size: 3.2rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
}

.information_wrap{
    display: flex;
    line-height: 3rem;
    margin: 1.5rem 25rem;
}
.career{
    font-size: 2rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    font-weight: lighter;
    text-align: left;
    line-height: 3rem;
    margin: 0 20rem;
}


.information p{
    font-size: 2rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
}

.information_detail{
    font-size: 2rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    margin-left: 2rem;
}

.underline{
    text-decoration: underline;
    text-decoration-color: #0B7174;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
}