html {
    font-size: 62.5%;
}

body {
    background-color: #F0F0F0;
    color: #000;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    max-width: 1032px;
    padding: 0 16px;
    margin: 0 auto;
}

/* 共通部品 */
.ttl {
    /* border: 1px solid tomato; */
    margin-bottom: 90px;
    /* border-bottom: 1px solid#000; */

    h2 {
        font-size: 3.6rem;
        font-weight: normal;
        letter-spacing: 10px;
    }

    p {
        font-size: 1.4rem;
        font-weight: normal;
    }

    .ttl::after {
        content: "";
        width: 40px;
        height: 1px;
        background-color: #000;
        display: block;
    }
}



nav {
    /* width: 100%; */
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo_nav {
        /* border: 1px solid tomato; */
        display: flex;
        align-items: center;

        img {
            width: 100px;
            margin-left: 100px;
            margin-right: 60px;
        }

        ul {
            display: flex;
        }

        li {
            list-style: none;
            margin-right: 30px;

            a {
                font-size: 1.4rem;
                color: #000;
            }

        }
    }

    button a {
        display: inline-block;
        width: 200px;
        height: 80px;
        color: #fff;
        background-color: #000;
        line-height: 80px;
        font-size: 1.2rem;
    }
}

.main_visual img {
    /* display: block; */
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
}

.news {
    width: 940px;
    margin: 0 auto;
    margin-top: 120px;
    /* border: 1px solid tomato; */

}

.date_wrap {
    display: flex;
    /* margin-top: 90px; */
    /* border: 1px solid #000; */

    .date_txt {
        border-right: 1px solid #000;
        width: calc(100%/ 3);
        margin-right: 20px;

        .date {
            display: flex;
            line-height: 3;
            align-items: center;

            time {
                font-size: 1.4rem;
            }

            p {
                width: 50px;
                height: 20px;
                line-height: 20px;
                font-size: 1.2rem;
                font-weight: lighter;
                color: #fff;
                background-color: #000;
                text-align: center;
                margin-left: 15px;
            }
        }

        p {
            font-size: 1.4rem;
        }
    }

    .date_txt:last-child {
        border-right: none;
    }
}

.about {
    display: flex;
    /* width: 100vw; */
    /* border: 1px solid tomato; */
    /* justify-content: center; */
    /* gap: 70px; */
    margin-top: 120px;


    picture {
        width: 55%;
    }

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .ttl_txt {
        /* border: 1px solid skyblue; */
        width: 45%;
        padding: 180px 5% 0 5%;
    }

    .txt {
        font-size: 1.4rem;
        line-height: 2.2;
    }
}

.business_wrap {

    .business {
        display: flex;
        padding: 0 10%;
        margin: 0 auto;

        .web_media {
            width: 45%;

            img {
                width: 100%
            }

            h3 {
                font-size: 1.4rem;
            }
        }

        .promo_social {
            width: 45%;

            img {
                width: 100%;
            }

            h3 {
                font-size: 1.4rem;
            }
        }
    }
}