html {
    font-size: 62.5%;
}

body {
    color: #24292e;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 2.4rem;
    text-align: center;
    margin: 7rem 0 6.5rem;
}

.nav_wrap {
    max-width: 96rem;
    height: 27rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
    /* border: 1px solid tomato; */
}

.nav_wrap ul {
    display: flex;
    font-size: 1.4rem;
    padding: 1rem 0;
    /* border: 1px solid tomato; */
}

.nav_wrap li {
    margin-left: 3rem;
    color: #24292e;
}

.nav_wrap ul li a {
    color: #24292e;
}

.nav_wrap ul li:last-child {
    width: 2rem;
    height: 2rem;
}

.main_wrap {
    margin: 0 auto 130 auto;
    border: 1px solid tomato;
}

.main_wrap img {
    height: 42rem;
    object-fit: cover;
}

.main_wrap li {
    font-size: 1.4rem;
}

.main_wrap p {
    font-size: 1.4rem;
    text-align: justify;
}

.text {
    border: 1px solid tomato;
}